YuiiDev/config.py
YuiiDev/*.session
YuiiDev/*.session-journal
YuiiDev/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
YuiiDev/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
kigyo.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
log.txt
shell_output.txt
.vs
YuiiDev/elevated_users.json
